.final-step {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 80%;
  padding: 20px 40px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  margin-left: auto;
  align-self: center;
  border-radius: 24px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.final-step h2 {
  color: #e84f0e;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

.final-step-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.final-step-content-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
}

.final-step-content-element {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1px;
  margin: 0;
  text-align: left;
}

.final-step-content-element:last-of-type{
  grid-column: span 3;
}

.final-step-button-container {
  width: 100%;
  display: inline-flex;
  gap: 7px;
  justify-content: space-between;
  align-items: center;
}

.final-step-button-wrapper{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.final-step-text-content{
  text-align: left;
  max-width: 60%;
}

.final-step-static-p {
  font-size: 16px;
  color: #0093d0;
  font-weight: 600;
  margin: 0;
}

.final-step-dynamic-p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.final-step-button-container p {
  font-size: 16px;
}

.final-step-button-view,
.final-step-button-contact{
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #0093d0;
  line-height: 1;
  border-radius: 0.5em;
  padding: 0 30px;
  transition: 0.5s ease background;
  display: inline-flex;
  height: 2.4em;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

.final-step-button-contact {
  color: #0093d0;
  background-color: rgb(230, 244, 255);
}

.final-step-button-view:hover {
  background-color: #0079a1;
}

.final-step-button-contact:hover {
  background-color: rgb(204, 230, 255);
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s;
}

@media (max-width: 530px) {
  .final-step-static-p {
    font-size: 14px;
  }

  .final-step-dynamic-p {
    font-size: 14px;
  }

  .final-step-button-container p {
    font-size: 14px;
  }

  .final-step-button-view,
  .final-step-button-contact {
    font-size: 14px;
  }

  .final-step-content-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .final-step-content-element:last-of-type{
    grid-column: span 2;
  }

  .final-step{
    padding: 20px 20px;
  }
}
