.travel-help-step-progress {
  width: 100%;
  height: 66px;
  background-color: #fff;
  border-radius: 24px;
  align-items: center;
  margin: 20px 0;
  padding: 10px 14px;
  transition: all 0.5s ease;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  gap: 1em;
  transition: transform 1s ease, opacity 1s ease;
}

.button-direction-prev,
.button-direction-next {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  display: inline-flex;
  line-height: 1;
  align-items: center;
  border: none;
  transition: transform 0.1s ease-in-out;
}

.button-direction-prev.btn-clicked,
.button-direction-next.btn-clicked {
  transform: translateY(4px);
}

.button-direction-prev {
  background-color: #fff;
  color: #000;
  padding-right: 14px;
  padding-left: 6px;
}

.button-direction-next {
  background-color: #0093d0;
  color: #fff;
  padding-left: 14px;
  padding-right: 6px;
  justify-content: center;
  height: 42px;
  border-radius: 0.5em;
}

.progress-bar {
  height: 9px;
  background-color: #c9c9c9;
  border-radius: 100px;
  position: relative;
  flex-grow: 1;
}

.bar-filler {
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s all;
  background: linear-gradient(90deg, #8acb00, #0199db);
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.arrow-icon-prev {
  margin-right: 0.2em;
  transform: rotate(90deg);
}

.arrow-icon-next {
  margin-left: 0.2em;
  transform: rotate(-90deg);
}
